.landing-ui-panel-style {
	background: #EEF2F4;
	width: 320px;
	position: static;
	height: calc(100vh - 63px);
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	opacity: 0;
	z-index: 22!important;
}

.landing-ui-panel-style .landing-ui-panel-content-body-content {
	background: none;
	margin-right: 0;
	margin-left: 0!important;
	border-top: none;
	padding-right: 13px;
	border-right-width: 5px;
}



.landing-ui-panel-style .landing-ui-panel-content-body-content .landing-ui-form {
	animation: showStyleForm 200ms ease both;
}

@keyframes showStyleForm {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.landing-ui-panel-style-overlay {
	opacity: 0!important;
	display: none;
	pointer-events: none;
}

.landing-ui-panel-style.landing-ui-show {
	-webkit-animation: showStylePanel 300ms both;
	animation: showStylePanel 300ms both;
}

.landing-ui-panel-style.landing-ui-hide {
	-webkit-animation: hideStylePanel 300ms both;
	animation: hideStylePanel 300ms both;
}

.landing-ui-panel-style .landing-ui-button.landing-ui-button-content-cancel {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}


.landing-ui-panel-style-header {
	font-family: OpenSans-Light;
	font-size: 24px;
	color: #000000;
	line-height: 24px;
	margin: 30px 20px;
}


@-webkit-keyframes showStylePanel {
	0% {
		opacity: 0;
		margin-left: -320px;
	}

	100% {
		opacity: 1;
		margin-left: 0;
	}
}


@keyframes showStylePanel {
	0% {
		opacity: 0;
		margin-left: -320px;
	}

	100% {
		opacity: 1;
		margin-left: 0;
	}
}

@-webkit-keyframes hideStylePanel {
	0% {
		opacity: 1;
		margin-left: 0;
	}

	100% {
		opacity: 0;
		margin-left: -320px;
	}
}

@keyframes hideStylePanel {
	0% {
		opacity: 1;
		margin-left: 0;
	}

	100% {
		opacity: 0;
		margin-left: -320px;
	}
}


.landing-ui-card-loader-style {
	top: 50%;
	left: 50%;
	margin: 0!important;
	transform: translate3d(-50%, -100%, 0);
}